body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

select, button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  background: #22c55e;
  color: black;
  font-weight: bold;
}

.history {
  margin-top: 20px;
}

.hidden {
  display: none;
}
